.container {
    display: flex;
    flex-direction: row;
    margin: 0 110px;
    text-align: left;

    .leftPart {
        margin: auto;
        width: 50%;
        h1 {
            margin: 0 auto 50px auto;
            font-size: 32px;
        }

        p {
            margin: 0 50px 40px auto;
            font-size: 14px;
        }

        .positionLink {
            background-color: #ff22b1;
            border-radius: 32px;
            height: 56px;
            width: 244px;
            display: flex;
            align-items: center;
        }

        a {
            font-size: 16px;
            font-weight: bold;
            color: #FFFFFF;
            text-decoration: none;
            margin: auto;
            &:hover {
                cursor: pointer;
            }
        }

    }

    .rightPart {
        height: 330px;
    }

}