.container {
    display: flex;
    flex-direction: row;
    background: white;
    text-align: left;
    height: 90vh;
    .textContainer {
        .positionLink {
            background-color: #ff22b1;
            border-radius: 32px;
            padding: 16px 24px;
            max-width: 100%;
            // height: 56px;
            // width: 244px;
            // display: flex;
            // align-items: center;
        }

        a {
            font-size: 16px;
            font-weight: bold;
            color: #FFFFFF;
            text-decoration: none;
            // margin: auto;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .img {
        width: 100%;
        max-width: 626px;
    }
}

.text{
    margin: 50px 0 44px 0 ;
    max-width: 354px;
    width: 100%;
    font-size: 18px;
}

.header{
    font-size: 46px;
    font-weight: bold;
        margin: 0 auto 50px auto;
}

.sectionContiner{
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

@media (max-width: 1279px) {

}

@media (max-width: 980px) {

}

@media (max-width: 767px) {
    
}