@import '../base.scss';
@import '../../../variables.scss';

.visualizeSection {
  max-width: 1160px;
  width: 100%;
  margin: 100px auto 0;
  padding: 0 10px;
  position: relative;
  @include borderBox;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  margin: 75px 0 90px;
  -webkit-box-pack: justify;
}

.header {
  text-align: center;
  font: 800 50px/69px 'Roboto', sans-serif;
  margin: 20px 0 15px;
  color: $textPrimaryColor;
}

.subHeader {
  color: #7b68ee;
  font: 800 11px/12px 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
