.container {
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 12px;
  width: 100%;
  padding: 48px;
  max-width: 513px;
  margin-top: 80px;
  @media (max-width: 1279px) {
    max-width: 450px;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
  @media (max-width: 570px) {
    max-width: 400px;
  }
  @media (max-width: 510px) {
    max-width: 350px;
  }
  @media (max-width: 450px) {
    max-width: 300px;
  }
  @media (max-width: 375px) {
    max-width: 250px;
  }
  @media (max-width: 320px) {
    max-width: 200px;
  }
  @media (max-width: 280px) {
    max-width: 150px;
  }
  form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    h3 {
      color: #1d1c39;
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 115%;
      font-weight: 400;
      @media (max-width: 997px) {
        font-size: 26px;
      }
      @media (max-width: 568px) {
        font-size: 22px;
      }
    }
    input {
      position: relative;
      display: inline-flex;
      background: #fff;
      border: 1px solid #c5cada;
      box-sizing: border-box;
      border-radius: 4px;
      appearance: none;
      font-size: 16px;
      padding: 11px 12px;
      width: 100%;
      color: #000;
      letter-spacing: 0.1px;
      margin-bottom: 20px;
      text-overflow: ellipsis;
    }
    button {
      display: block;
      width: 100%;
      border-radius: 32px;
      color: #fff;
      background: #895ef7;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.75px;
      padding: 16px 24px;
      user-select: none;
      text-align: center;
      min-height: 49px;
      font-family: 'Work Sans', Arial, Helvetica, sans-serif;
      border: none;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:hover {
        outline: none;
        box-shadow: inset 0 0 0 100px rgb(0 0 0 / 30%);
      }
    }
    p {
      margin: 0;
      color: #727491;
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 145%;
      font-weight: 400;
      .link {
        color: #895ef7;
        margin: 0;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0.25px;
      }
    }
  }
}
