@import './styles/variables.scss';

.mainWrapper {
  margin-top: $size-80 * 1.2; // For the floating top nav
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $size-50 * 3;

  @media screen and (max-width: 768px) {
    gap: $size-50;
  }
}
