.container {
    max-width: 744px;
    width:100%;
    margin: 100px auto;
}

   .header {
       margin: 0 0 28px 0;
       font-size: 50px;
   }

   .text {
       margin: 0 0 38px 0;
       font-size: 25px;
       font-weight: 100;
   }

   .line {
       width: 100px;
       border: 2px solid #ffc63c;
       background-color:#ffc63c;
   }
