@import '../../../variables.scss';

.container {
  box-sizing: border-box;
  width: 12%;
  color: var(--ds-text-subtle, white);
  min-width: 250px;
  background-color: var(--ds-surface, $primaryColor);
  height: 94vh;
  padding: 30px 12px;
  overflow-y: scroll;
}
