$max_size: 1201px;
$small_size: 1000px;

.functionsLoginTabs{
    display: flex;
    flex-direction: row;
    gap: 14px;
    @media (max-width: $max_size) {
        flex-direction: column;
        margin-top: 14px;
    }
    a{
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
        display: inline-flex;
        cursor: pointer;
        color: #1d1c39;
        padding: 10px;
        border-radius: 5px;
        transition: background-color .2s ease-in-out;
        text-decoration: none;

        @media (max-width: $max_size) {
            border-bottom: 1px solid rgba(0,0,0,.058823529411764705);
            padding: 15px 5px;
            font-size: 15px;
        }
    }
    a.btn{
        border-radius: 32px;
        background: #6a84ed;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: .75px;
        padding: 16px 24px;
        color: #fff;
        @media (max-width: $max_size) {
            display: flex;
            justify-content:center;
        }
    }
}