.deleteAccountContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Roboto';
  font-style: normal;
  width: 857px;
  height: 573px;
  margin-top: 102.93px;
  background: #ffff;
}
.accountHeader {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.01em;
  color: #3563e9;
  padding-left: 32px;
}

.accountSettingContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffff;
  padding: 0px 64px 32px 32px;
}
.accountSidebar {
  color: #3d5278;
  margin-bottom: 64px;
  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    padding-left: 5px;
  }
  .deleteButton {
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #3563e9;
    background: #f3f7ff;
    border-radius: 10px;
    border: none;
    color: #ffc300;
  }
}
.deleteRightContent {
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #3d5278;
  }
  h4 {
    width: 386px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    letter-spacing: -0.01em;
    color: #c9d4ea;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #3d5278;
  }
  .deleteCaution {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .deleteCaution:before {
    content: '*';
    color: red;
  }
}
.passwordInput {
  width: 386px;
  height: 56px;
  background: #f6f7f9;
  border-radius: 10px;
  border: none;
  padding-left: 32px;
}
