@import '../../../styles/variables.scss';
@import '../Button.module.scss';

.buttonBottom {
  @include reset-button;

  cursor: pointer;

  position: absolute;
  width: 100%;
  height: $size-65;
  inset-inline: 0;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: $size-14;

  background: rgba(123, 104, 238, 0.05);

  font-size: $size-14;
  line-height: $size-16;
  font-weight: 700;
  text-transform: capitalize;
}
