.registerFooter {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 1px solid rgb(223, 225, 230);

  .text {
    padding-top: 0px;
    color: rgb(107, 119, 140);
  }
}
