.navAndBoard {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;

  .container {
    width: 10%;
    color: var(--ds-text-subtle, #42526e);
    min-width: 240px;
    background-color: var(--ds-surface, #fafbfc);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 24px 8px 8px 8px;
    min-height: 100%;
  }
}
