$light-gray: rgb(207, 207, 207);
$dark-gray: rgb(107, 107, 107);
.FAQicons {
  background-color: white;
  .container {
    max-width: 65%;
    margin: auto;
    .iconsContainer {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 63px 0px;
      justify-content: center;
      .iconContainer {
        max-width: 33%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid white;

        .iconDescription {
          font-size: 25px;
          color: $dark-gray;
        }
        .iconImg {
          max-width: 100px;
          height: 100px;
          margin-bottom: 20px;
        }
      }
      .iconContainer:hover {
        border: 2px solid $light-gray;
      }
    }
  }
}
