$closeBtnColor: rgb(202, 207, 227);
$closeBtnColorHover: rgb(178, 182, 200);
$colorGray: rgb(102, 106, 133);
$colorBlue: rgb(50, 115, 246);
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btn {
  height: 100%;
  border-radius: 5px;
  width: 43%;
  cursor: pointer;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 100;
  @include center();
  .backdrop > * {
    margin: 0;
    padding: 0;
  }
  .dailyScrumContainer {
    width: 50%;
    height: 90%;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: auto;
    .dailyScrumHeader {
      display: flex;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      .closeBtn {
        @include center();
        font-size: 35px;
        color: $closeBtnColor;
        border: none;
        background-color: white;
        cursor: pointer;
      }
      .closeBtn:hover {
        color: $closeBtnColorHover;
      }
    }
  }
  .btnContainer {
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    .cancelBtn {
      border: 1px solid $colorGray;
      color: $colorGray;
      background-color: white;
      @include btn();
    }
    .submitBtn {
      border: none;
      color: white;
      background-color: $colorBlue;
      @include btn();
    }
  }
}
