$colorBorder: rgb(218, 216, 220);
$ticketTitleColor: rgb(102, 106, 133);
$colorLightGray: rgb(245, 246, 254);

.dailyScrumTicket {
  border: 1px solid $colorBorder;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 20px;
  p {
    font-weight: bold;
    font-size: 14px;
  }
  .ticketTitle {
    color: $ticketTitleColor;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
  }
  .progressRange {
    input {
      width: 50%;
      cursor: pointer;
    }
    display: flex;
    gap: 10px;
  }

  .anyReason {
    p {
      font-weight: 500;
    }
    textarea {
      padding: 5px;
      height: 100px;
      width: 70%;
      border: 1px solid $colorBorder;
      background-color: $colorLightGray;
      border-radius: 10px;
      resize: none;
    }
  }
}
