$colorBorder: rgb(218, 216, 220);
$ticketTitleColor: rgb(102, 106, 133);
$colorBlue: rgb(50, 115, 246);
$colorLightGray: rgb(245, 246, 254);

.dailyScrumTicket {
  border: 1px solid $colorBorder;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 20px;
  p {
    font-weight: bold;
    font-size: 14px;
  }
  .ticketTitle {
    color: $ticketTitleColor;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
  }
  .progressRange {
    input {
      width: 50%;
      cursor: pointer;
    }
    display: flex;
    gap: 10px;
  }
  .radioLabel {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 15%;
    cursor: pointer;
    input[type='radio'] {
      margin-right: 10px;
      appearance: none;
      width: 1.15em;
      height: 1.15em;
      border: 1px solid $colorBorder;
      background-color: $colorLightGray;
      border-radius: 3px;
      cursor: pointer;
    }
    input[type='radio']:checked:before {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      content: '✔';
      font-size: 9px;
      border-radius: 3px;
      color: white;
      background-color: $colorBlue;
    }
  }
}
