$lightColor: #3563e9;
.navContainer {
  flex: 1 1 40%;
  margin: 78px 0 0 18px;

  @media (min-width: 425px) {
    margin: 80px 0 0 35px;
  }

  @media (min-width: 576px) {
    margin: 81px 0 0 45px;
  }

  @media (min-width: 768px) {
    margin: 83px 0 0 60px;
  }

  @media (min-width: 1024px) {
    margin: 85px 0 0 65px;
  }

  @media (min-width: 1440px) {
    margin: 86px 0 0 100px;
  }

  h4 {
    li {
      list-style: none;

      a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.5px;
        color: $lightColor;
        margin: 10px 0 0 0;

        @media (min-width: 510px) {
          font-size: 22px;
        }

        @media (min-width: 576px) {
          font-size: 24px;
        }

        @media (min-width: 768px) {
          font-size: 26px;
        }

        @media (min-width: 1024px) {
          font-size: 30px;
        }

        @media (min-width: 1440px) {
          font-size: 32px;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 10px;

    @media (min-width: 576px) {
      padding-left: 20px;
    }

    @media (min-width: 768px) {
      padding-left: 30px;
    }

    @media (min-width: 1024px) {
      padding-left: 40px;
    }

    @media (min-width: 1440px) {
      padding-left: 52px;
    }

    li {
      border-left: 5px solid #f6f7f9;

      @media (max-width: 425px) {
        border-left: 3px solid #f6f7f9;
      }

      a {
        text-decoration: none;
        font-size: 10px;
        font-weight: 400;
        line-height: 55px;
        color: #000;
        padding-left: 8px;

        @media (min-width: 425px) {
          font-size: 12px;
          padding-left: 12px;
        }

        @media (min-width: 576px) {
          font-size: 14px;
          padding-left: 15px;
        }

        @media (min-width: 768px) {
          font-size: 16px;
          padding-left: 30px;
        }

        @media (min-width: 1024px) {
          font-size: 18px;
          padding-left: 35px;
        }

        @media (min-width: 1440px) {
          font-size: 24px;
          padding-left: 40px;
        }
      }
    }
    .active {
      border-left: 3px solid $lightColor;
      position: relative;

      @media (min-width: 425px) {
        border-left: 5px solid $lightColor;
      }

      &::before {
        position: absolute;
        content: ' ';
        background-color: $lightColor;
        border-radius: 50%;
        width: 11px;
        height: 11px;
        top: 21px;
        left: -7px;

        @media (min-width: 375px) {
          width: 11px;
          height: 11px;
          top: 22px;
          left: -7px;
        }

        @media (min-width: 425px) {
          width: 11px;
          height: 11px;
          top: 22px;
          left: -8px;
        }

        @media (min-width: 768px) {
          width: 16px;
          height: 16px;
          top: 18px;
          left: -11px;
        }
      }
    }
  }
}
