.backdrop {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.25);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(17px);
  .modal {
    max-width: 800px;
    max-height: 80vh;
    width: 100%;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: rgb(43 44 57 / 14%) 0px 6px 20px;
    border-bottom: 6px solid #6a2add;
    position: relative;
  }
}


.modal::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  border-radius: 10px;
}

.modal:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}