$btnColorBlue: rgb(33, 81, 197);
$btnColorBlueHover: rgb(232, 239, 251);
.dailyScrumBtn {
  margin: 10px 10px;
  padding: 5px;
  width: 50%;
  color: $btnColorBlue;
  border: 1px solid $btnColorBlue;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.dailyScrumBtn:hover {
  background-color: $btnColorBlueHover;
}
