$headingTextColor: #3d5278;
$lightColor: #3563e9;

.container {
  p {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #555;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: $headingTextColor;
  }

  ul {
    padding-left: 23px;
    width: 100%;
    li {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      color: #555;
      margin-bottom: 13px;
      &::marker {
        color: #555;
        font-size: 0.77em;
      }
      a {
        color: $lightColor;
        text-decoration: none;
      }
    }
  }
  .nestedUl {
    padding-left: 21px;
    .nestedLi::marker {
      color: #555;
      font-size: 0.5em;
    }
  }

  @media (max-width: 425px) {
    p {
      font-size: 12px;
    }

    h2 {
      font-size: 14px;
    }

    ul {
      padding-left: 16px;
      li {
        font-size: 12px;
      }
    }
    .nestedUl {
      padding-left: 4px;
    }
  }

  @media (max-width: 320px) {
    p {
      font-size: 10px;
    }

    h2 {
      font-size: 12px;
    }

    h3 {
      font-size: 12px;
    }

    ul {
      padding-left: 14px;
      li {
        font-size: 10px;
      }
    }
    .nestedUl {
      padding-left: 12px;
    }
  }
}
