.refundContainer {
  font-family: FaktSoft, Arial, Helvetica, sans-serif;
  padding-top: 160px;
  padding-right: 28px;
  padding-left: 20px;
  margin: 0 98px 98px;
  border: o;
  @media (max-width: 992px) {
    .refundContent {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 1280px) {
    .refundText {
      width: 688px;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 30%;
  }
  @media screen and(min-width: 992px) {
    max-width: 50%;
  }
  @media screen and (min-width: 1280px) {
    max-width: 70%;
  }
  @media screen and (min-width: 1440px) {
    max-width: 100%;
  }

  .legalTitle {
    width: 100%;
    text-align: center !important;
    font-weight: 600;
    font-size: 18px;
    color: #a7acc5;
    padding-bottom: 7rem;
  }
  .titleRefund {
    margin: 0 !important;
    font-weight: 400;
    font-size: 42px;
    color: #212529;
    padding-bottom: 1rem;
  }
  .containerLegal {
    color: #a7acc5;
    font-size: 16px;
    margin: 0 0 21px;
    font-weight: 600;
    text-transform: uppercase !important;
  }
  hr {
    background-color: #6a84ed;
    border: 0;
    height: 4px;
    width: 100px;
    margin: 21px auto;
  }
  .refundContent {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    margin-left: 70px;
  }
  .sidebar {
 
    @media screen and (min-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @media screen and (min-width: 992px) {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
  }

  .stickySidebar {
    padding-left: 150px;
    position: sticky;
    top: 100px;
    transition: height 0.3s ease;
    #RemoveBorder {
      border: 0;
    }
    li {
      color: #494e6a;
      border-left: 2px solid #e7ebf1;
      font-weight: 500;
      list-style-type: none;
      position: relative;
      display: list-item;
      text-align: -webkit-match-parent;

      a {
        line-height: 1.3;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        display: block;
        padding: 7px 14px;
        color: #373753;
      }
    }
    li:hover {
      border-left: 2px solid #4461d7;
    }
  }
  .refundText {
    text-align: left;
    box-sizing: border-box;
    color: #494e6a;
    font-size: 1.143rem;
    font-weight: 400;
    line-height: 22.4px;
    text-size-adjust: 100%;
    width: 893px;
    margin-left: -16px;

  }
  .refundText p {
    margin-bottom: 1.5rem;
  }
}
