.toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 10px;
  .assignee {
    width: 1.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
