.settingPage {
  flex: 1 1 auto;
  position: relative;
  padding: 0px 24px;
  margin: 0px auto;
  max-width: 960px;
  .settingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 11px;
    position: relative;
    max-width: calc(100% - 16px);
    min-width: calc(8.33333% - 16px);
    .nav {
      width: 100%;
      .navContent {
        margin-top: 15px;
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: row;
          margin: 0;
          li {
            a {
              background: none;
              text-decoration: none;
              transition-duration: 0s, 0.15s;
              color: #8993a4;
              span {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
                  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.43;
                color: #6b778c;
                cursor: pointer;
              }
              &:hover {
                background: none;
                text-decoration: underline;
                transition-duration: 0s, 0.15s;
                color: #8993a4;
              }
            }
          }
          li:not(:last-child)::after {
            content: '/';
            flex-shrink: 0;
            padding: 0px 10px;
            text-align: center;
            color: #6b778c;
          }
        }
      }
    }
    header {
      display: flex;
      align-items: flex-start;
      margin-top: 10px;
      justify-content: space-between;
      width: 98%;
      margin-bottom: 20px;
      h1 {
        color: #172b4d;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
          'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.6em;
        margin: 0;
      }
      .openTrash {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .menuOpen {
          background-color: rgb(37, 56, 88);
          border-radius: 3px;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;
          display: flex;
          width: 32px;
          height: 32px;
          text-align: center;
          cursor: pointer;
        }
        .trash {
          background: rgb(255, 255, 255);
          border-radius: 3px;
          box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px, rgb(9 30 66 / 31%) 0px 0px 1px;
          box-sizing: border-box;
          overflow: auto;
          padding: 4px 0px;
          max-height: 317.5px;
          position: absolute;
          top: 85px;
          button {
            background: rgb(255, 255, 255);
            color: rgb(23, 43, 77);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
              'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-weight: 400;
            border: none;
            cursor: pointer;
            padding: 6px 11px 8px 11px;
            &:hover {
              background-color: rgb(244, 245, 247);
              color: rgb(23, 43, 77);
              fill: rgb(244, 245, 247);
              text-decoration: none;
            }
          }
        }
      }
      .menuClose {
        border-radius: 3px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 32px;
        height: 32px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #f4f5f7;
        }
      }
    }
    .editSection {
      width: 58%;
      .editContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
          img {
            border-radius: 3px;
            width: 128px;
            height: 128px;
            margin: 0px auto;
          }
          button {
            margin-top: 16px;
            border-radius: 3px;
            background-color: rgba(9, 30, 66, 0.04);
            border: none;
            color: #42526e;
            cursor: pointer;
            height: 2.45em;
            line-height: 2.28571em;
            padding: 2px 16px;
            font-family: inherit;
            font-size: 14px;
            font-weight: 600;
            &:hover {
              background: rgba(9, 30, 66, 0.08);
              text-decoration: inherit;
              transition-duration: 0s, 0.15s;
              color: #42526e;
            }
          }
        }
        form {
          margin-top: 7px;
          .nameInputSection {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            label {
              font-size: 14px;
              color: #172b4d;
              display: flex;
              flex-direction: column;
            }
            span {
              font-size: 0.86em;
              color: #6b778c;
              font-weight: 700;
              display: inline-block;
            }
            input {
              background-color: #fafbfc;
              border-color: #dfe1e6;
              color: #091e42;
              cursor: text;
              border-radius: 3px;
              border-width: 2px;
              border-style: solid;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 1.43;
              margin-top: 3px;
              padding: 8px 6px;
              &:focus-visible {
                outline-color: #4c9aff;
              }
            }
          }
          .keyInputSection {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            label {
              font-size: 14px;
              color: #172b4d;
              display: flex;
              flex-direction: column;
            }
            span {
              font-size: 0.86em;
              color: #6b778c;
              font-weight: 700;
              display: inline-block;
            }
            input {
              background-color: #fafbfc;
              border-color: #dfe1e6;
              color: #091e42;
              cursor: text;
              border-radius: 3px;
              border-width: 2px;
              border-style: solid;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 1.43;
              margin-top: 4px;
              padding: 8px 6px;
              text-transform: uppercase;
              &:focus-visible {
                outline-color: #4c9aff;
              }
            }
          }
          .saveBtn {
            margin-top: 16px;
            border-width: 0px;
            border-radius: 3px;
            display: inline-flex;
            font-size: 14px;
            font-family: inherit;
            font-weight: 500;
            max-width: 100%;
            position: relative;
            background: #0052cc;
            cursor: pointer;
            height: 2.5em;
            line-height: 2.3em;
            padding: 0px 12px;
            color: #ffffff;
            align-items: center;
            &:hover {
              background: #0065ff;
              text-decoration: inherit;
              transition-duration: 0s, 0.15s;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .settingPage {
    padding: 0px 15px;
    .settingContent {
      padding: 0;
      .nav {
        width: 110%;
      }
      header {
        width: 107%;
      }
    }
  }
}
