@mixin section {
  padding: 28px 50px 28px 0;
  max-width: 300px;
}

.jobListItem {
  border-bottom: 1px solid #e7ebf1;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;

  .location {
    @include section();
    font-size: 20px;
    color: #727491;
    font-weight: 400;
    flex: 1;
  }
  .role {
    @include section();
    text-decoration: none;
    flex: 1;
    color: #373753;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    &:hover {
      color: #0091ff;
    }
  }
  .department {
    @include section();
    flex: 1;
    font-size: 20px;
    color: #ff22b1;
    font-weight: 400;
  }
  .applyButton {
    text-decoration: none;
    min-width: 110px;
    @include section();
    .applyButtonText {
      background: #1d1c39;
      border-radius: 24px;
      color: #fff;
      font-size: 14px;
      line-height: 157%;
      padding: 9px 16px;
      font-weight: 600;
      min-height: 27px;
      letter-spacing: 0.25px;
    }
  }
}
