.container {
  width: 100%;
  padding-top: 147px;
  box-sizing: border-box;
  background: #f5f7fa;
  font-family: 'FaktSoft', Arial, Helvetica, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  position: relative;

  .containerHeader {
    padding-bottom: 6rem;
    text-align: center;
  }

  .containerLegal {
    color: #a7acc5;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  .containerTerms {
    margin: 0;
    display: block;
    font-size: 42px;
    font-weight: 400;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    line-height: 1;
    color: inherit;
    display: block;
    font-family: FaktSoft, Arial, Helvetica, sans-serif;
  }

  .containerUnderline {
    border: 0;
    height: 4px;
    margin-right: auto;
    width: 100px;
    background-color: #6a84ed;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: visible;
  }
  .termContent {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: -10px;
  }
  .sidebar {
    @media screen and (min-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @media screen and (min-width: 992px) {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
  }

  .stickySidebar {
    padding-left: 300px;
    position: sticky;
    transition: height 0.3s ease;
    #RemoveBorder {
      border: 0;
    }
    li {
      color: #494e6a;
      border-left: 2px solid #e7ebf1;
      font-weight: 500;
      list-style-type: none;
      position: relative;
      display: list-item;
      text-align: -webkit-match-parent;

      a {
        line-height: 1.3;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        display: block;
        padding: 7px 14px;
        color: #373753;
      }
    }
    li:hover {
      border-left: 2px solid #4461d7;
    }
  }

  .containerContent {
    width: 100%;
    display: block;
    min-height: 1px;
    margin: 18px 300px 0 10px;

    @media (max-width: 0px) {
      padding-right: 12vw;
      padding-left: 0vw;
    }

    @media (max-width: 768px) {
      padding-right: 9vw;
      padding-left: 10vw;
    }

    @media screen and(max-width: 992px) {
      padding-right: 12vw;
      padding-left: 15vw;
    }
  }


  #containerText h2 {
    -webkit-tap-highlight-color: rgb(0 0 0/0);
    text-align: left;
    box-sizing: border-box;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: 'liga', 'clig';
    font-feature-settings: 'liga', 'clig';
    line-height: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #212529;

    @media (max-width: 748px) {
      line-height: 2rem;
    }
  }

  #containerText h2:first-child {
    margin-top: 0;
  }

  #containerText p {
    text-align: left;
    box-sizing: border-box;
    font-family: FaktSoft, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: #494e6a;
  }

  #containerText a {
    color: #4da2f8;
  }
}
