$children-min-width: 375px;
$children-min-height: 600px;

.container {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.childrenContainer {
  width: 100%;
  min-width: $children-min-width;
  height: 100%;
  min-height: $children-min-height;
  padding: 0.5rem;
}
