.container {
  .description {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 24px;
    line-height: 24px;
    color: var(--ds-text, #172b4d);
    overflow-wrap: break-word;
  }

  textarea {
    border-radius: 3px;
    border-width: 2px;
    text-decoration: none;
    border-color: rgb(9 30 66 / 10%);
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      color: #565e6f;
      opacity: 1;
      font-size: 16px;
    }

    &:hover {
      border-color: transparent;
      background-color: rgb(9 30 66 / 10%);
    }

    &:focus {
      border-color: transparent;
      background-color: white;
    }
  }
}
