@mixin headingLarge {
  font: 800 50px/69px $fontPrimaryFamily;
  color: $textPrimaryColor;
}

@mixin headingMedium {
  font: 800 40px/50px $fontPrimaryFamily;
  color: $textPrimaryColor;
}

@mixin headingSmall {
  font: 800 35px/50px $fontPrimaryFamily;
  color: $textPrimaryColor;
}

@mixin borderBox {
  box-sizing: border-box;
}
