$bgColor: white;
$borderColor: #ebecf0;
$textColor: #616c82;
$btnColorGray: rgb(100, 109, 129);
$btnBgColorGray: rgb(224, 226, 231);
$btnColorBlue: rgb(31, 70, 160);
$btnBgColorBlue: rgb(224, 235, 253);
$btnColorGreen: rgb(42, 100, 71);
$btnBgColorGreen: rgb(232, 251, 240);

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  background-color: $bgColor;
  box-sizing: border-box;
  border: 1px solid $borderColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

.taskInfo {
  display: flex;
  width: 100%;
  height: 100%;
  .taskInput {
    width: 80%;
    font-size: 16px;
    outline-color: rgb(77, 144, 254);
    outline-style: auto;
    outline-width: 5px;
    margin-left: 20px;
  }
}

.taskType {
  flex-shrink: 0;
  color: $textColor;
  @include ellipsis;
}

.taskTitle {
  @include ellipsis;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 20px;
}

.editButton {
  flex-shrink: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.container:hover .editButton {
  visibility: visible;
}
