.container,html
{
   background: #f5f7fa;
   font-family: 'Fakt Soft','-apple-system','Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.6;
   -webkit-font-smoothing: 'anti aliased';
   
}

.container {
   color: #212529;
}

p {
   font-family: 'Fakt Soft','Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   font-size: 1.143rem;
   margin-top: 0;
   margin-bottom: 1.5rem;
   color: #494e6a!important;
   text-align: left;   
}

.title {
   color: #a7acc5!important;
   font-weight: 600;
   margin-top: 8rem !important;
   margin-bottom: 1.5rem!important;
   text-transform: uppercase!important;
   text-align: center!important;
}

h1 {
   margin: 0!important;
   font-weight: 400;
   font-size: 3rem;
   color: inherit;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0;
   margin-inline-end: 0;
   -webkit-font-smoothing: antialiased;
   font-variant-ligatures: common-ligatures;
   text-align: center!important;
}

.underline {
   background-color: #6a84ed;
   border: 0;
   height: 4px;
   width: 100px;
   margin-bottom:9rem!important;
   margin-top: 3rem!important;
   display: block;
   padding:0;   
}

@media screen and (min-width: 320px) and (max-width:1156px){

    .container{
    
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 0;
    }}