@use '../../variables.scss' as *;

$gray: rgb(246, 248, 249);

.pageContainer {
  display: flex;
  min-height: 100vh;
  .sectionContainer {
    width: 100%;
    padding: 2rem;
    .sectionTitle {
      margin-bottom: 2rem;
    }
  }
}

.textSecondary {
  font-size: 14px;
  color: gray;
}
